.App{
    text-align: center;
  }
  .main-title{
    font-size: 50pt;
    font-weight:400;
    
    padding:20px;
  }
  .main-title a{
    text-decoration: none;
    color: black;
  }
  .main-title :hover{
    color:goldenrod;
  }
  
  .nav-container{
    flex-direction:row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    list-style-type: none;
    text-align: center;
    margin-bottom: 70px;
  }
  .nav-item{
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }
  .nav-item a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  .nav-item :hover{
    color: goldenrod;
    background-color: white;
  }
  .main-calendar{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
  
  }